/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-sub-black: #333333;
  --basic-grey: #a9a9a9;
  --basic-background-white: #f2f2f2;
  --basic-html-black: #231F20;
  --basic-brown: #766357;
  --basic-background-grey: #eeeeee;
  --basic-brown-hover: #604E43;
  --basic-brown-active: #503E33;
  --basic-grey-disabled: #6a6a6a;
  --basic-blue-hover: #669EC0;
  --basic-blue-active: #5496BD;
  --basic-grey-border: #e5e5e5;
  --basic-grey-copy-active: #bdbbbc;
  --basic-grey-input-hover: #ebebeb;
}

/* Global */

.page-body {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-g);
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: var(--basic-background-white);

  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.container {
  max-width: 1055px;
  margin: 0 auto;
}

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation */

.main-navigation {
  background-color: var(--basic-white);
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
}

/* Site navigation */

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

.site-navigation a {
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation li {
  line-height: 26px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 228px;
}


.left-nav {
  text-align: left;
  padding-left: 72px;
}

.right-nav {
  text-align: right;
  padding-left: 0;
  padding-right: 72px;
}

/* Main page */
/* Promo */

.main-background {
  width: 1200px;
  height: 509px;
  background-color: var(--basic-white);
  background-image: url("../img/welcome.png"), url("../img/background-photo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  vertical-align: bottom;
}

.down-background {
  transform: translateY(453px);
}

.main-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding-top: 43px;
  padding-bottom: 51px;
  background-color: var(--basic-white);
}

/* Features */

.features {
  background-color: var(--basic-white);
}

.features-desc {
  line-height: 26px;
  color: var(--basic-sub-black);
  text-align: center;
  margin: 0;
  margin-bottom: 51px;
}

.features-item,
.features-item-second {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  list-style: none;
  display: grid;
}

.features-item {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr max-content;
}

.features-item-second {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.features-city,
.features-bridge {
  background-color: var(--basic-white);
}

.features-title {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.features-bridge {
  order: 0;
}

.features-sublist,
.features-sublist-second {
  list-style: none;
  padding: 0;
  margin: 0;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.features-sublist {
  background-color: var(--basic-white);
}

.features-sublist .features-subitem:nth-child(1) {
  padding-top: 60px;
  padding-bottom: 80px;
}

.features-sublist .features-subitem:nth-child(2) {
  padding-top: 61px;
  padding-bottom: 80px;
}

.features-sublist .features-subitem:nth-child(3) {
  padding-top: 55px;
  padding-bottom: 80px;
}

.features-sublist-second {
  background-color: var(--basic-background-grey);
}

.features-subitem,
.features-subitem-second {
  color: var(--basic-sub-black);
}

.features-subtitle {
  color: var(--basic-black);
}

.features-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
}

.features-list p {
  padding: 0;
  margin: 0;
}

.features-subitem {
  align-items: center;
}

.features-subitem h4 {
  margin-top: 28px;
}

.features-item-text,
.features-subitem-second,
.features-item-text-second,
.features-subitem {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.features-item-text p,
.features-item-text-second p,
.features-subitem-second p {
  margin-top: 23px;
}

/* Search */

.section-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 58px;
  background-color: var(--basic-white);
}

.search-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.search-text {
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
  padding-top: 33px;
  padding-bottom: 26px;
}

.button-search {
  justify-self: center;
  height: 86px;
  width: 568px;
}

/* Form */

.form-hotel-search {
  position: absolute;
  bottom: -395px;
  width: 568px;
  height: 395px;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-item {
  margin: 0;
  padding: 0;
}

.filling-info {
  position: relative;
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(4, 115px);
  grid-template-rows: repeat(3, 38px);
  row-gap: 30px;
  width: 460px;
  height: 175px;
  align-items: center;
}

.label-arrival-date {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.input-arrival-date {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.label-departure-date {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.input-departure-date {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.arrival-calendar {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  z-index: 1;
  border: none;
  justify-self: end;
}

.departure-calendar {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  z-index: 2;
  border: none;
  justify-self: end;
}

.div-search-adult-counter {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(3, 38px);
}

.div-search-children-counter {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(3, 38px);
}

.minus,
.plus {
  border: none;
  width: 38px;
  background-color: var(--basic-background-white);
}

.minus:hover rect,
.plus:hover path {
  fill: var(--basic-black);
}

.minus:active rect,
.plus:active path {
  fill: var(--basic-blue);
}

.arrival-calendar:hover path,
.departure-calendar:hover path {
  fill: var(--basic-black);
}

.arrival-calendar:active path,
.departure-calendar:active path {
  fill: var(--basic-blue);
}

.form-hotel-search input,
.form-hotel-search label {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
}

.input-arrival-date,
.input-departure-date {
  padding: 6px 0 6px 13px;
}

.form-hotel-search input {
  background-color: var(--basic-background-white);
  border: none;
}

.form-hotel-search input:hover {
  background-color: var(--basic-grey-input-hover);
}

.form-hotel-search input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-grey-border);
}

.input-search-count-adult,
.input-search-count-children {
  text-align: center;
  padding: 6px 0;
}

.label-search-children-counter {
  padding-left: 53px;
}

/* Map */

.section-map {
  background-color: var(--basic-white);
}

.map {
  margin-bottom: -126px;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: repeat(3, 328px);
  background: rgba(255, 255, 255, 0.9);
  column-gap: 36px;
  padding-left: 73px;
  padding-right: 73px;
}

/* Footer contacts */

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  padding-bottom: 36px;
}

.footer-contacts p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.footer-contacts p:first-child {
  margin-bottom: 9px;
}

.footer-phone {
  color: inherit;
  text-decoration: none;
}

/* Footer social */

.footer-social {
  justify-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 31px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  padding: 0;
  margin: 0;
}

.social-icon:hover {
  background-color: var(--basic-blue-hover);
}

.social-icon:active {
  background-color: var(--basic-blue-active);
}

.social-icon:active path {
  opacity: 0.3;
}

/* Footer copyright */

.footer-copyright {
  line-height: 26px;
  justify-self: center;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.footer-copyright p {
  margin-right: 6px;
}

.footer-copy-logo:hover path {
  fill: var(--basic-blue);
}

.footer-copy-logo:active path {
  fill: var(--basic-grey-copy-active);
}

/* Catalog page */
/* Filters */

.filter {
  background: url("../img/blurred-background.jpg") var(--basic-white) repeat;
  background-size: 100%;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.filters-title {
  font-size: 16px;
  font-weight: bold;
}

.filter ul {
  list-style: none;
  padding: 0;
}

.filter-input-text {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  font: inherit;
  background-color: transparent;
  color: var(--basic-white);
}

.filter-input-text::placeholder {
  font: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
}

.filter-input-checkbox:disabled {
  color: var(--basic-grey-disabled);
}

.filter fieldset {
  border: none;
}

.filters-infrastructure,
.filters-housing {
  margin-top: 27px;
}

.filters-infrastructure li,
.filters-housing li {
  padding-bottom: 23px;
}

.filters-infrastructure li:last-child,
.filters-housing li:last-child {
  padding-bottom: 0;
}

/* Sort */

.section-sort {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  background-color: var(--basic-white);
}

.sort-selection {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 32px;
  margin-right: 503px;
}

.sort-triangles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
}

.triangle:hover path {
  fill: var(--basic-black);
}

.triangle:active path,
.triangle-current path {
  fill: var(--basic-blue);
}

.section-sort ul {
  list-style: none;
}

.sort-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-right: 46px;
}

/* Hotel list */

.hotel-list {
  background-color: var(--basic-white);
}

.hotel-list-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 24px 0 0 0;
}

.hotel-list-title:hover {
  color: var(--basic-blue);
}

.hotel-list-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel-list ul {
  list-style: none;
}

.hotel-rating {
  background-color: var(--basic-background-white);
  padding: 3px 12px 3px 15px;
}

.hotel-unlist {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  padding: 0;
  margin: 0;
}

.hotel,
.motel,
.apartments {
  display: flex;
  border-top: 1px solid var(--basic-grey-border);
}

.hotel-list-item-buttons {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 6px;
  margin-right: 543px;
}

.stars {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 30px 0 47px 0;
}

.stars li {
  margin-right: 6px;
}

.stars li:last-child {
  margin-right: 0;
}

.hotel-list-image {
  padding: 30px 29px 30px 0;
}

.apartments {
  border-bottom: 1px solid var(--basic-grey-border);
}

/* Buttons */
/* Global button */

.button {
  font: inherit;
  line-height: inherit;
  text-align: center;
  border: none;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  font-weight: bold;
  text-decoration: none;
}

/* Section search button*/

.button-search {
  background-color: var(--basic-brown);
  font-size: 21px;
  line-height: 26px;
}

.button-search:hover {
  background-color: var(--basic-brown-hover);
}

.button-search:active {
  background-color: var(--basic-brown-active);
  color: rgba(255, 255, 255, 0.3);
}

/* Hotel search button */

.button-find {
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
}

/* Filter button */

.button-show {
  font-weight: normal;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.button-show:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* Sort buttons */

.sort-button {
  opacity: 0.3;
  text-decoration: none;
  color: var(--basic-black);
  border-bottom: 1px dashed var(--basic-blue);
}

.sort-button-current {
  border: none;
  opacity: 1;
  color: var(--basic-blue);
}

.sort-button-current:hover {
  border-bottom: 1px dashed var(--basic-blue);
}

.sort-button:hover {
  opacity: 1;
  color: var(--basic-blue);
}

.sort-button:active {
  color: var(--basic-black);
  opacity: 1;
  border: none;
}

/* Hotel list buttons */

.button-reserve {
  background-color: var(--basic-brown);
  padding: 3px 17px 3px 16px;
}

.button-reserve:hover {
  background-color: var(--basic-brown-hover);
}

.button-reserve:active {
  background-color: var(--basic-brown-active);
  color: rgba(255, 255, 255, 0.3);
}

.button-details {
  padding: 3px 16px 3px 17px;
}

.button-details:hover,
.button-find:hover {
  background-color: var(--basic-blue-hover);
}

.button-details:active,
.button-find:active {
  background-color: var(--basic-blue-active);
  color: rgba(255, 255, 255, 0.3);
}
