/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
    url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-sub-black: #333333;
  --basic-grey: #a9a9a9;
  --basic-background-white: #f2f2f2;
  --basic-html-black: #231F20;
  --basic-brown: #766357;
  --basic-background-grey: #eeeeee;
  --basic-brown-hover: #604E43;
  --basic-brown-active: #503E33;
  --basic-grey-disabled: #6a6a6a;
  --basic-blue-hover: #669EC0;
  --basic-blue-active: #5496BD;
  --basic-grey-border: #e5e5e5;
}

/* Global */

.page-body {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: var(--basic-white);

  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
}

/* Main navigation */

.main-navigation {
  background-color: var(--basic-white);
  display: grid;
}

.main-header-logo {
  justify-self: center;
}

/* Site navigation */

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.site-navigation a {
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation li {
  line-height: 26px;
  font-weight: bold;
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}

/* Main page */
/* Promo */

.main-background {
  background-color: var(--basic-white);
}

.main-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

/* Features */

.features {
  margin-bottom: 58px;
}

.features-desc {
  line-height: 26px;
  color: var(--basic-sub-black);
  text-align: center;
}

.features-item,
.features-item-second {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  list-style: none;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.features-item {
  grid-template-columns: 1fr 2fr;
}

.features-item-second {
  grid-template-columns: 2fr 1fr;
}

.features-city,
.features-bridge {
  background-color: var(--basic-white);
}

.features-title {
  font-size: 21px;
  font-weight: bold;
}

.features-bridge {
  order: 0;
}

.features-sublist,
.features-sublist-second {
  list-style: none;
  padding: 0;
  margin: 0;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.features-sublist {
  background-color: var(--basic-white);
}

.features-sublist-second {
  background-color: var(--basic-background-grey);
}

.features-subitem,
.features-subitem-second {
  color: var(--basic-sub-black);
  justify-self: center;
}

.features-subtitle {
  color: var(--basic-black);
}

.features-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.features-item-text,
.features-item-text-second,
.features-subitem,
.features-subitem-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Search */

.section-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-title {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.search-text {
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
  padding-top: 33px;
  padding-bottom: 27px;
}

.button-search {
  justify-self: center;
  padding: 30px 124px 30px 125px;
}

/* Map */

.section-map {
  background-color: var(--basic-white);
}

/* Footer */

.main-footer {
  opacity: 0.9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Footer contacts */

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  justify-self: center;
}

.footer-phone {
  color: inherit;
  text-decoration: none;
}

/* Footer social */

.footer-social {
  justify-self: center;
}

/* Footer copyright */

.footer-copyright {
  line-height: 26px;
  justify-self: center;
}

/* Catalog page */
/* Filters */

.filter {
  background: url("../img/blurred-background.jpg") var(--basic-white) repeat;
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.filters-title {
  font-size: 16px;
  font-weight: bold;
}

.filter ul {
  list-style: none;
  padding: 0;
}

.filter-input-text {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  font: inherit;
  background-color: transparent;
  color: var(--basic-white);
}

.filter-input-text::placeholder {
  font: inherit;
  color: var(--basic-white);
  text-transform: uppercase;
}

.filter-input-checkbox:disabled {
  color: var(--basic-grey-disabled);
}

.filter fieldset {
  border: none;
}

.filters-infrastructure,
.filters-housing {
  margin-top: 27px;
}

.filters-infrastructure li,
.filters-housing li {
  padding-bottom: 23px;
}

.filters-infrastructure li:last-child,
.filters-housing li:last-child {
  padding-bottom: 0;
}

/* Sort */

.section-sort {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
}


.sort-selection {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 32px;
  margin-right: 503px;
}

.sort-triangles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
}

.section-sort ul {
  list-style: none;
}

.sort-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-right: 46px;
}

/* Hotel list */

.hotel-list-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 24px 0 0 0;
}

.hotel-list-title:hover {
  color: var(--basic-blue);
}

.hotel-list-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotel-list ul {
  list-style: none;
}

.hotel-rating {
  background-color: var(--basic-background-white);
  padding: 3px 12px 3px 15px;
}

.hotel-unlist {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  padding: 0;
  margin: 0;
}

.hotel,
.motel,
.apartments {
  display: flex;
  border-top: 1px solid var(--basic-grey-border);
}

.hotel-list-item-buttons {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 6px;
  margin-right: 543px;
}

.stars {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 30px 0 47px 0;
}

.stars li {
  margin-right: 6px;
}

.stars li:last-child {
  margin-right: 0;
}

.hotel-list-image {
  padding: 30px 29px 30px 0;
}

.apartments {
  border-bottom: 1px solid var(--basic-grey-border);
}

/* Buttons */
/* Global button */

.button {
  font: inherit;
  line-height: inherit;
  text-align: center;
  border: none;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  font-weight: bold;
  text-decoration: none;
}

/* Section search button*/

.button-search {
  background-color: var(--basic-brown);
  font-size: 21px;
  line-height: 26px;
}

.button-search:hover {
  background-color: var(--basic-brown-hover);
}

.button-search:active {
  background-color: var(--basic-brown-active);
  color: rgba(255, 255, 255, 0.3);
}

/* Filter button */

.button-show {
  font-weight: normal;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.button-show:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* Sort buttons */

.sort-button {
  opacity: 0.3;
  text-decoration: none;
  color: var(--basic-black);
  border-bottom: 1px dashed var(--basic-blue);
}

.sort-button-current {
  border: none;
  opacity: 1;
  color: var(--basic-blue);
}

.sort-button-current:hover {
  border-bottom: 1px dashed var(--basic-blue);
}

.sort-button:hover {
  opacity: 1;
  color: var(--basic-blue);
}

.sort-button:active {
  color: var(--basic-black);
  opacity: 1;
  border: none;
}

/* Hotel list buttons */

.button-reserve {
  background-color: var(--basic-brown);
  padding: 3px 17px 3px 16px;
}

.button-reserve:hover {
  background-color: var(--basic-brown-hover);
}

.button-reserve:active {
  background-color: var(--basic-brown-active);
  color: rgba(255, 255, 255, 0.3);
}

.button-details {
  padding: 3px 16px 3px 17px;
}

.button-details:hover {
  background-color: var(--basic-blue-hover);
}

.button-details:active {
  background-color: var(--basic-blue-active);
  color: rgba(255, 255, 255, 0.3);
}
